@using CSharpNET8CoreMVC.Models
@model List<Category>

@section Title {
    <h3>Categories</h3>
}

<ul>
    @foreach (var category in Model)
    {
        <li>
            {@category.Id} - @category.Name
        </li>
    }
</ul>