<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!--<nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Categories">Categories</a></li>
            </ul>
        </nav>-->
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <!--<footer class="card-footer">
        <p>&copy; 2025 - CSharpNET8CoreMVC</p>
    </footer>-->
</body>
</html>
